<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        

  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <appSettings>
    <add key="SIMPLYFYI_ConnectionString"  value="Provider=SQLOLEDB;SERVER=mssql.anaxanet.com;DATABASE=zbvmdpnh_SIMPLYFYI;Uid=zbvmdpnh_simplyfyi;Pwd=S1mplyfy1;"   />
    <add key="TimerIntervalInSeconds" value="5"/> <!--Postive value only -->
    <add key="TransactionMonitoringWindowInterval" value="10000"/> <!--Irrelevant with the last-run-date being used-->
    <add key="LogFile" value="C:\simplyfyi.services\FYITransactionMonitorService\MMDDYYYY_Trace.log"/>
    <add key="NVPToIPNMapFile" value="C:\simplyfyi.services\FYITransactionMonitorService\NVPToIPNMap.xml"/>
    <add key="PayPayApiLiveMode" value="true"/>
    <!--<add key="PayPalIPNHandlerUrl" value="http://8.8.247.151/ipn/PayPalIPNHandler.aspx"/>-->
    <add key="PayPalIPNHandlerUrl" value="https://www.simplyfyi.com/ipn/PayPalIPNHandler.aspx"/>
    <add key="TransactionLookBackWindowInDaysForSelfTest" value="0"/>
    <add key="AdministratorEmail" value="ramesh@rameshinnovation.com"/>
    <add key="TransactionSearchWindowStartTimePaddingInSeconds" value="600"/> <!--Positive value only-->
    <add key="FYITransactionMonitoringServiceDisplayName" value="FYI Transaction Monitoring Service PROD"/>
    <add key="FYITransactionMonitoringServiceName" value="FYITransactionMonitoringServiceProduction"/>
    <!--<add key="PayPalBillingHandler4UnitsUrl" value="http://8.8.247.151/buyunits/PayPalBillingHandler4Units.ashx"/>-->
<add key="PayPalBillingHandler4UnitsUrl" value="https://www.simplyfyi.com/buyunits/PayPalBillingHandler4Units.ashx"/>
  </appSettings>
<system.net>
    <mailSettings>
      <smtp>        
        <network port="80" host="mail.smtp2go.com" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
