<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RameshInnovation.VoiShare.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>            
      <add key="SIMPLYFYI_ConnectionString"  value="Provider=SQLOLEDB;SERVER=mssql.anaxanet.com;DATABASE=zbvmdpnh_SIMPLYFYI;Uid=zbvmdpnh_simplyfyi;Pwd=S1mplyfy1;"   />
      <add key="SIMPLYFYI_Shadow_ConnectionString" value="Provider=SQLOLEDB;SERVER=mssql.anaxanet.com;DATABASE=zbvmdpnh_SHADOW;Uid=zbvmdpnh_simplyfyi;Pwd=S1mplyfy1;"/>

      <add key="TimerInterval"  value="60000" />
      <add key="LookbackWindowInMinutes"  value="14400" />
      <add key="BounceCheckLookbackWindowInMinutes"  value="120" />
      <add key ="ServiceFromEmailAddress" value ="fyi@simplyfyi.com"/>
      <add key ="JangoMailUserName" value ="simplyfyi"/>
      <add key ="JangoMailPassword" value ="972200NU"/>
      <add key ="JangoTransactionGroupID" value ="21349"/>
      <add key ="JangoMailSendOptions" value ="TransactionGroupID=21349,OpenTrack=True"/>
      <add key ="IgnoreOptIn" value ="Y"/>
      <add key="UseHttpGet" value="0" />
      <add key="LogFile" value="C:\simplyfyi.services\MMDDYYYY_simplyfyi.log"/>
      <add key="TwilioAccountSID" value="AC6735ef29b103a91af020414495aec51a"/>
      <add key="TwilioAuthToken" value="00ec92ebfa8617c1009487554e5b59a2"/>
      <add key="TwilioPostbackUrl" value="http://www.simplyfyiapps.com/voicegrammar/reminder.aspx"/>
      <add key="DefaultFromPhoneNumber" value="9162766586"/>
      <add key="DefaultFromPhoneName" value="simplyfyi"/>                
      <add key="TwilioDataPostUrl" value="http://www.simplyfyiapps.com/voicegrammar/postvoicedata.aspx"/>

      <add key="FYIDispatchServiceDisplayName" value="FYI Dispatch Service"/>
      <add key="FYIDispatchServiceName" value="FYIDispatchService"/>
      <add key="AdministratorEmail" value="ramesh@rameshinnovation.com"/>
      
      <!-- NEW -->
      <add key="BalanceAlertEmailTemplateFolder" value="C:\simplyfyi.services\EmailNotificationTemplates"/>
      
      
      <!-- Oct 17, 2014 -->
      <!--<add key="PayPalBillingHandlerUrl" value="http://BillingHandlers.simplyfyi.com/PayPal/PayPalBillingHandler.ashx"/>-->
      <!--<add key="PayPalBillingHandlerUrl" value="http://8.8.247.151/autopay/PayPalBillingHandler.ashx"/>-->
      <add key="PayPalBillingHandlerUrl" value="https://www.simplyfyi.com/autopay/PayPalBillingHandler.ashx"/>
    </appSettings>
  <system.net>
    <mailSettings>
      <smtp>
        <network port="80" host="mail.smtp2go.com" />
      </smtp>
    </mailSettings>
  </system.net>
  <applicationSettings>
    <RameshInnovation.VoiShare.Services.Properties.Settings>
      <setting name="FYIDispatchService_JangoMailWS_JangoMail"
        serializeAs="String">
        <value>http://api.jangomail.com/api.asmx</value>
      </setting>

    </RameshInnovation.VoiShare.Services.Properties.Settings>
  </applicationSettings>
</configuration>