body
{
 font-family: Arial, "Trebuchet MS", "Lucida Grande", Helvetica, sans-serif;
 font-size:14px; 
 color:#5a5a5a; 
}

select
{
     font-size:14px; 
}

OuterTable
{
     background-color:#000;
}

/* iframe backgroundcolor makes the design area white in IE and FF */
iframe
{
    background-color:#fff;
}

textarea
{
    font-family: Arial, "Trebuchet MS", "Lucida Grande", Helvetica, sans-serif;
     font-size:14px; 
     color:#5a5a5a;
}